<h1>Portfolio</h1>
<ng-container *ngIf="!isSubmitted; else preview">
  <h2>Personal Information</h2>
  <div class="personal">
    <form>
      <div>
        <label for="name">Name</label>
        <input 
          type="text"
          name="name"
          id="name"
          [(ngModel)]="name"
        />
      </div>
  
      <div>
        <label for="email">Email</label>
        <input
          type="text" 
          name="email"
          id="email"
          [(ngModel)]="email"
        />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input 
          type="tel"
          name="phone" 
          id="phone"
          [(ngModel)]="phone"
        />
      </div>
      <div>
        <label for="address">Address ({{address}})</label>
        <input
          type="text"
          name="address"
          id="address"
          [(ngModel)]="address"
        />
      </div>
    </form>
    
    <h2>Qualification</h2>
    @for (qualification of qualifications; track $index) {
      <form class="qualification">
        <span *ngIf="$index > 0"
          class="x-qualification"
          (click)="removeQualification($index)"
        ></span>
        <div>
          <label for="school">School/College</label>
          <input
            type="text"
            name="school"
            id="school"
            [(ngModel)]="qualification.school"
          />
        </div>
    
        <div>
          <label for="degree">Degree</label>
          <input
            type="text"
            name="degree"
            id="degree"
            [(ngModel)]="qualification.degree"
          />
        </div>
    
        <div>
          <label for="year">Year</label>
          <input
            type="text"
            name="year"
            id="year"
            [(ngModel)]="qualification.year"
          />
        </div>
      </form>
    }
  </div>

  <div class="btn-container">
    <button (click)="addQualification()">Add Qualification</button>
    <button type="submit" (click)="onSubmit()">Submit</button>
  </div>
</ng-container>

<ng-template #preview>
  <div class="preview-container">
    <h2>Preview</h2>
    <div>
      <p>{{name}}</p>
      <p>Email: {{email}}</p>
      <p>Phone: {{phone}}</p>
      <p>Address: {{address}}</p>;
    </div>
    <div>
      <h3>Qualification</h3>
      @for (qualification of qualifications; track $index) {
        <div>
          <h5>School/College: {{qualification.school}}</h5>
          <h5>Degress: {{qualification.degree}} - {{qualification.year}}</h5>
        </div>
      }
      <div>
        <button (click)="onEdit()">Edit</button>
      </div>
    </div>
  </div>
</ng-template>

